In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_data = pd.read_csv('./Prosper_Loan_Data.csv')
loan_data.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

Data Dictionary Link : https://docs.google.com/spreadsheets/d/1gDyi_L4UvIrLTEC6Wri5nbaMmkGmLQBk-Yx3z0XDEtI/edit#gid=0

In [3]:
loan_data.shape

(113937, 81)

In [4]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [5]:
loan_data.head(20)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,20
5,0F05359734824199381F61D,1074836,2013-12-14 08:26:37.093000000,NaN,60,Current,NaN,0.15425,0.1314,0.1214,...,-25.33,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
6,0F0A3576754255009D63151,750899,2013-04-12 09:52:56.147000000,NaN,36,Current,NaN,0.31032,0.2712,0.2612,...,-22.95,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
7,0F1035772717087366F9EA7,768193,2013-05-05 06:49:27.493000000,NaN,36,Current,NaN,0.23939,0.2019,0.1919,...,-69.21,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
8,0F043596202561788EA13D5,1023355,2013-12-02 10:43:39.117000000,NaN,36,Current,NaN,0.07620,0.0629,0.0529,...,-16.77,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
9,0F043596202561788EA13D5,1023355,2013-12-02 10:43:39.117000000,NaN,36,Current,NaN,0.07620,0.0629,0.0529,...,-16.77,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
10,0F123545674891886D9F106,587746,2012-05-10 07:04:01.577000000,NaN,60,Current,NaN,0.27462,0.2489,0.2389,...,-214.04,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,19
11,0F1734025150298088A5F2B,213551,2007-10-09 20:28:33.640000000,C,36,Completed,2008-01-07 00:00:00,0.15033,0.1325,0.1225,...,-0.88,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,53
12,0F1A3597143888805163EF7,1081604,2013-12-15 20:01:10.757000000,NaN,36,Past Due (1-15 days),NaN,0.17969,0.1435,0.1335,...,-3.40,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1
13,0F1C3583260311305D68F87,840820,2013-07-15 16:28:28.087000000,NaN,36,Current,NaN,0.13138,0.1034,0.0934,...,-46.42,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,171
14,0F353575943675863D1AFC0,757359,2013-04-19 11:17:41.700000000,NaN,60,Current,NaN,0.11695,0.0949,0.0849,...,-138.07,0.0,0.00,0.00,0.00,0.7731,0,0,0.0,371
15,0F483544120452347F48121,577164,2012-04-10 09:14:46.297000000,NaN,36,Defaulted,2012-12-19 00:00:00,0.35797,0.3177,0.3077,...,-9.81,0.0,3790.25,3790.25,0.00,1.0000,0,0,0.0,10
16,0F4835843081468212F0892,841846,2013-07-16 12:42:48.680000000,NaN,60,Current,NaN,0.30748,0.2809,0.2709,...,-23.01,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,8
17,0FDF336575182398852A8DC,31540,2006-08-15 12:21:09.433000000,AA,36,Chargedoff,2008-05-22 00:00:00,0.13202,0.1250,0.1175,...,-54.61,0.0,6012.65,6012.67,268.96,1.0000,0,0,0.0,85
18,0FF2357105361877390B58D,716058,2013-02-20 03:48:37.470000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-121.47,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,303
19,0FFC35866018516621B0D3F,875565,2013-08-21 06:49:02.093000000,NaN,60,Current,NaN,0.24754,0.2225,0.2125,...,-21.61,0.0,0.00,0.00,0.00,1.0000,0,0,0.0,1

In [6]:
loan_data.isnull().sum()

ListingKey                         0
ListingNumber                      0
ListingCreationDate                0
CreditGrade                    84984
Term                               0
                               ...
PercentFunded                      0
Recommendations                    0
InvestmentFromFriendsCount         0
InvestmentFromFriendsAmount        0
Investors                          0
Length: 81, dtype: int64

## Quality Issues 

-   ListingCreationDate should be timeframe datatype 
-	ListingNumber should be converted to string datatype
-	ListingCreationDate should be a timeframe datatype
-	ProsperRating (Alpha) should be change to strings 
-	Propser score should be coverted to strings
-	ListingCategory should be converted to strings
-	ClosedDate should be converted to timestamp datatype
-	DateCreditPulled should be converted to timestamp datatype
-	CreditScoreRangeUpper should be converted to string 
-	CreditScoreRangeLower should be converted to string 
-	FirstRecordedCreditLine should be converted to timestamp datatype 
-	CurrentCreditLine & OpenCreditLines should be converted to integers
-	TotalCreditLinespast7years should be converted to int
-	InquiriesLast6Months should be converted to int 
-	TotalInquiries should be converted to int
-	CurrentDelinquencies should be converted to int
-	DelinquenciesLast7Years should be converted to int 
-	PublicRecordsLast10Years should be convereted to int
-	PublicRecordsLast12Months should be converted to int
-	TradesOpenedLast6Months should be converted to int

## Tidiness Issues 

- Income range should have 2 seperate columns for min & max values
- LoanOriginationQuarter should have two seperate columns

In [7]:
# making a copy of the original dataset
loan_data_copy = loan_data.copy()

In [8]:
loan_data_copy['ListingCreationDate'] = pd.to_datetime(loan_data['ListingCreationDate'])
loan_data_copy['ListingNumber'] = pd.to_datetime(loan_data['ListingNumber'])
loan_data_copy['ClosedDate'] = pd.to_datetime(loan_data['ClosedDate'])
loan_data_copy['DateCreditPulled'] = pd.to_datetime(loan_data['DateCreditPulled'])
loan_data_copy['FirstRecordedCreditLine'] = pd.to_datetime(loan_data['FirstRecordedCreditLine'])
loan_data_copy['ListingNumber'] = loan_data['ListingNumber'].astype(str)
loan_data_copy['ProsperRating (Alpha)'] = loan_data['ProsperRating (Alpha)'].astype(str)
loan_data_copy['ProsperScore'] = loan_data['ProsperScore'].astype(str)
loan_data_copy['ListingCategory (numeric)'] = loan_data['ListingCategory (numeric)'].astype(str)
loan_data_copy['CreditScoreRangeUpper'] = loan_data['CreditScoreRangeUpper'].astype(str)
loan_data_copy['CreditScoreRangeLower'] = loan_data['CreditScoreRangeLower'].astype(str)
loan_data_copy['CurrentCreditLines'] = pd.to_numeric(loan_data['CurrentCreditLines'])
loan_data_copy['OpenCreditLines'] = pd.to_numeric(loan_data['OpenCreditLines'])
loan_data_copy['TotalCreditLinespast7years'] = pd.to_numeric(loan_data['TotalCreditLinespast7years'])
loan_data_copy['InquiriesLast6Months'] = pd.to_numeric(loan_data['InquiriesLast6Months'])
loan_data_copy['TotalInquiries'] = pd.to_numeric(loan_data['TotalInquiries'])
loan_data_copy['CurrentDelinquencies'] = pd.to_numeric(loan_data['CurrentDelinquencies'])
loan_data_copy['DelinquenciesLast7Years'] = pd.to_numeric(loan_data['DelinquenciesLast7Years'])
loan_data_copy['PublicRecordsLast10Years'] = pd.to_numeric(loan_data['PublicRecordsLast10Years'])
loan_data_copy['PublicRecordsLast12Months'] = pd.to_numeric(loan_data['PublicRecordsLast12Months'])
loan_data_copy['PublicRecordsLast12Months'] = pd.to_numeric(loan_data['PublicRecordsLast12Months'])
loan_data_copy['TradesOpenedLast6Months'] = pd.to_numeric(loan_data['TradesOpenedLast6Months'])

In [9]:
loan_data_copy['IncomeRange'].str.split('-')

0         [$25,000, 49,999]
1         [$50,000, 74,999]
2           [Not displayed]
3         [$25,000, 49,999]
4               [$100,000+]
                ...
113932    [$50,000, 74,999]
113933    [$75,000, 99,999]
113934    [$25,000, 49,999]
113935    [$25,000, 49,999]
113936    [$50,000, 74,999]
Name: IncomeRange, Length: 113937, dtype: object

https://www.youtube.com/watch?v=vPKwm1XZjp8

In [10]:
loan_data_copy['IncomeRange']

0         $25,000-49,999
1         $50,000-74,999
2          Not displayed
3         $25,000-49,999
4              $100,000+
               ...
113932    $50,000-74,999
113933    $75,000-99,999
113934    $25,000-49,999
113935    $25,000-49,999
113936    $50,000-74,999
Name: IncomeRange, Length: 113937, dtype: object

In [11]:
loan_data_copy['LoanOriginationQuarter']

0         Q3 2007
1         Q1 2014
2         Q1 2007
3         Q4 2012
4         Q3 2013
           ...
113932    Q2 2013
113933    Q4 2011
113934    Q4 2013
113935    Q4 2011
113936    Q1 2014
Name: LoanOriginationQuarter, Length: 113937, dtype: object

In [12]:
loan_data_copy['LoanOriginationQuarter'].str.split(' ')

0         [Q3, 2007]
1         [Q1, 2014]
2         [Q1, 2007]
3         [Q4, 2012]
4         [Q3, 2013]
             ...
113932    [Q2, 2013]
113933    [Q4, 2011]
113934    [Q4, 2013]
113935    [Q4, 2011]
113936    [Q1, 2014]
Name: LoanOriginationQuarter, Length: 113937, dtype: object

In [13]:
loan_data_copy_1 = loan_data_copy['LoanOriginationQuarter'].str.split(' ',expand=True)
loan_data_copy_1 = loan_data_copy_1.rename(columns={0:'LoanOriginationQuarter (qtr)',1:'LoanOriginationQuarter (Year)'})

In [14]:
loan_data_copy_1

       LoanOriginationQuarter (qtr) LoanOriginationQuarter (Year)
0                                Q3                          2007
1                                Q1                          2014
2                                Q1                          2007
3                                Q4                          2012
4                                Q3                          2013
...                             ...                           ...
113932                           Q2                          2013
113933                           Q4                          2011
113934                           Q4                          2013
113935                           Q4                          2011
113936                           Q1                          2014

[113937 rows x 2 columns]

In [15]:
loan_data_copy['IncomeRange']

0         $25,000-49,999
1         $50,000-74,999
2          Not displayed
3         $25,000-49,999
4              $100,000+
               ...
113932    $50,000-74,999
113933    $75,000-99,999
113934    $25,000-49,999
113935    $25,000-49,999
113936    $50,000-74,999
Name: IncomeRange, Length: 113937, dtype: object

In [16]:
loan_data_copy['IncomeRange'].str.split('-')

0         [$25,000, 49,999]
1         [$50,000, 74,999]
2           [Not displayed]
3         [$25,000, 49,999]
4               [$100,000+]
                ...
113932    [$50,000, 74,999]
113933    [$75,000, 99,999]
113934    [$25,000, 49,999]
113935    [$25,000, 49,999]
113936    [$50,000, 74,999]
Name: IncomeRange, Length: 113937, dtype: object

In [17]:
loan_data_copy_2 = loan_data_copy['IncomeRange'].str.split('-',expand=True)
loan_data_copy_2 = loan_data_copy_2.rename(columns={0:"LowerIncomeRange",1:"HigherIncomeRange"})

In [18]:
loan_data_copy_2["LowerIncomeRange"] = loan_data_copy_2["LowerIncomeRange"].str.replace(r'$', '',regex=True)
loan_data_copy_2["LowerIncomeRange"] = loan_data_copy_2["LowerIncomeRange"].str.replace(r'+', '',regex=True)

In [19]:
loan_data_copy_2.head()

  LowerIncomeRange HigherIncomeRange
0           25,000            49,999
1           50,000            74,999
2    Not displayed              None
3           25,000            49,999
4          100,000              None

In [20]:
loan_data_copy.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263,C,36,Completed,2009-08-14,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900,NaN,36,Current,NaT,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090,HR,36,Completed,2009-12-17,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010,NaN,36,Current,NaT,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097,NaN,36,Current,NaT,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [21]:
loan_data_copy_3 = pd.concat([loan_data_copy_1,loan_data_copy_2], axis = 1)
loan_data_copy_3

,LoanOriginationQuarter (qtr),LoanOriginationQuarter (Year),LowerIncomeRange,HigherIncomeRange
0,Q3,2007,"25,000","49,999"
1,Q1,2014,"50,000","74,999"
2,Q1,2007,Not displayed,None
3,Q4,2012,"25,000","49,999"
4,Q3,2013,"100,000",None
...,...,...,...,...
113932,Q2,2013,"50,000","74,999"
113933,Q4,2011,"75,000","99,999"
113934,Q4,2013,"25,000","49,999"
113935,Q4,2011,"25,000","49,999"
113936,Q1,2014,"50,000","74,999"

- Some values within the 'LowweIncomeRange' column have some values indicated as 'Not Displayed'
- Some values within the 'HigherIncomeRange' column have some values indicated as 'None'
- Some values with the 'ClosedDate' column are displayed as 'NaT'

In [22]:
loan_data_copy = pd.concat([loan_data_copy_3,loan_data_copy], axis = 1)
loan_data_copy.sample(20)

,LoanOriginationQuarter (qtr),LoanOriginationQuarter (Year),LowerIncomeRange,HigherIncomeRange,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
53722,Q4,2013,"50,000","74,999",1FD1359111258794616DCE8,954927,2013-10-03 13:22:21.947,NaN,36,Current,...,-56.77,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
69051,Q4,2013,"50,000","74,999",3CD73596321970817889A50,1059453,2013-11-27 11:14:04.613,NaN,60,Current,...,-25.34,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
72425,Q1,2014,"100,000",None,E98E3605353626565CEBBDD,1239068,2014-03-06 20:44:29.687,NaN,60,Current,...,0.00,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
100100,Q1,2014,"75,000","99,999",8238359885538308281B29A,1062715,2013-12-27 20:51:06.710,NaN,36,Current,...,-31.98,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
91411,Q4,2013,"25,000","49,999",A775359663691141840EBBA,1021234,2013-12-01 17:05:09.327,NaN,60,Current,...,-16.89,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
1600,Q3,2013,1,"24,999",381D3582805936417256792,835718,2013-07-11 15:37:46.217,NaN,36,Current,...,-22.12,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
78288,Q1,2008,"25,000","49,999",D87B34136822412923C9360,280969,2008-02-17 21:47:54.150,B,36,Completed,...,-6.12,0.00,0.0,0.00,0.0,1.0,0,0,0.0,158
11669,Q2,2010,"50,000","74,999",9EA33481558836023AF3D39,455336,2010-04-21 00:42:35.410,NaN,36,Completed,...,-41.04,0.00,0.0,0.00,0.0,1.0,0,0,0.0,254
87325,Q2,2006,Not displayed,None,B528336546655109841400D,3567,2006-03-25 21:09:59.027,HR,36,Defaulted,...,-19.98,0.00,3083.5,3083.54,0.0,1.0,0,0,0.0,27
62833,Q3,2013,"50,000","74,999",D350358902879639588CE00,888268,2013-09-04 19:40:32.970,NaN,36,Current,...,-20.03,0.00,0.0,0.00,0.0,1.0,0,0,0.0,2
16856,Q3,2008,"75,000","99,999",4EF33426858870290B1648C,370495,2008-07-20 17:42:54.830,C,36,Completed,...,-172.17,0.00,0.0,0.00,0.0,1.0,0,0,0.0,282
37115,Q3,2013,"75,000","99,999",4AB93585427269113915320,864811,2013-08-08 14:32:25.917,NaN,60,Current,...,-46.31,0.00,0.0,0.00,0.0,1.0,0,0,0.0,107
76730,Q3,2013,"100,000",None,46CF3582398813710B07A8A,809789,2013-06-15 14:25:20.233,NaN,36,Current,...,-49.49,0.00,0.0,0.00,0.0,1.0,0,0,0.0,72
446,Q4,2013,"50,000","74,999",09E03595831427966EE4111,1068078,2013-12-04 10:10:37.530,NaN,36,Current,...,-25.18,0.00,0.0,0.00,0.0,1.0,0,0,0.0,124
21809,Q2,2013,"25,000","49,999",17693577485767966A48256,769324,2013-05-06 10:04:30.917,NaN,36,Current,...,-13.84,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
61409,Q1,2014,"100,000",None,1F4D36020263150994C7DEF,1147168,2014-02-08 08:09:46.497,NaN,36,Current,...,0.00,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1
59660,Q3,2011,"75,000","99,999",FD7E351979633502563086C,515433,2011-07-08 08:11:47.217,NaN,36,Current,...,-32.51,0.00,0.0,0.00,0.0,1.0,0,0,0.0,25
82992,Q4,2011,1,"24,999",62EC353234397981956D192,539167,2011-11-15 08:34:05.787,NaN,36,Current,...,-122.21,-165.51,0.0,0.00,0.0,1.0,0,0,0.0,113
23955,Q3,2007,"25,000","49,999",12683391412431410EA40F8,154430,2007-06-19 06:01:05.733,HR,36,Completed,...,-89.93,0.00,0.0,0.00,0.0,1.0,0,0,0.0,2
100282,Q1,2014,"100,000",None,F4E33599848204011DFEE1A,1159047,2014-01-23 17:32:24.387,NaN,36,Current,...,0.00,0.00,0.0,0.00,0.0,1.0,0,0,0.0,1

In [23]:
loan_data_copy.drop(columns=['IncomeRange','LoanOriginationQuarter'],axis = 1,inplace = True)

In [24]:
loan_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 83 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   LoanOriginationQuarter (qtr)         113937 non-null  object
 1   LoanOriginationQuarter (Year)        113937 non-null  object
 2   LowerIncomeRange                     113937 non-null  object
 3   HigherIncomeRange                    87432 non-null   object
 4   ListingKey                           113937 non-null  object
 5   ListingNumber                        113937 non-null  object
 6   ListingCreationDate                  113937 non-null  datetime64[ns]
 7   CreditGrade                          28953 non-null   object
 8   Term                                 113937 non-null  int64
 9   LoanStatus                           113937 non-null  object
 10  ClosedDate                           55089 non-null   datetime64[ns]
 11  BorrowerAPR                          113912 non-null  float64
 12  BorrowerRate                         113937 non-null  float64
 13  LenderYield                          113937 non-null  float64
 14  EstimatedEffectiveYield              84853 non-null   float64
 15  EstimatedLoss                        84853 non-null   float64
 16  EstimatedReturn                      84853 non-null   float64
 17  ProsperRating (numeric)              84853 non-null   float64
 18  ProsperRating (Alpha)                113937 non-null  object
 19  ProsperScore                         113937 non-null  object
 20  ListingCategory (numeric)            113937 non-null  object
 21  BorrowerState                        108422 non-null  object
 22  Occupation                           110349 non-null  object
 23  EmploymentStatus                     111682 non-null  object
 24  EmploymentStatusDuration             106312 non-null  float64
 25  IsBorrowerHomeowner                  113937 non-null  bool
 26  CurrentlyInGroup                     113937 non-null  bool
 27  GroupKey                             13341 non-null   object
 28  DateCreditPulled                     113937 non-null  datetime64[ns]
 29  CreditScoreRangeLower                113937 non-null  object
 30  CreditScoreRangeUpper                113937 non-null  object
 31  FirstRecordedCreditLine              113240 non-null  datetime64[ns]
 32  CurrentCreditLines                   106333 non-null  float64
 33  OpenCreditLines                      106333 non-null  float64
 34  TotalCreditLinespast7years           113240 non-null  float64
 35  OpenRevolvingAccounts                113937 non-null  int64
 36  OpenRevolvingMonthlyPayment          113937 non-null  float64
 37  InquiriesLast6Months                 113240 non-null  float64
 38  TotalInquiries                       112778 non-null  float64
 39  CurrentDelinquencies                 113240 non-null  float64
 40  AmountDelinquent                     106315 non-null  float64
 41  DelinquenciesLast7Years              112947 non-null  float64
 42  PublicRecordsLast10Years             113240 non-null  float64
 43  PublicRecordsLast12Months            106333 non-null  float64
 44  RevolvingCreditBalance               106333 non-null  float64
 45  BankcardUtilization                  106333 non-null  float64
 46  AvailableBankcardCredit              106393 non-null  float64
 47  TotalTrades                          106393 non-null  float64
 48  TradesNeverDelinquent (percentage)   106393 non-null  float64
 49  TradesOpenedLast6Months              106393 non-null  float64
 50  DebtToIncomeRatio                    105383 non-null  float64
 51  IncomeVerifiable                     113937 non-null  bool
 52  StatedMonthlyIncome                  113937 non-null  float64
 53  LoanKey                              113937 non-null  object
 54  TotalProsperLoans                    22085 non-null   float64
 55  TotalProsperPaymentsBilled           22085 non-null   float64
 56  OnTimeProsperPayments                22085 non-null   float64
 57  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 58  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 59  ProsperPrincipalBorrowed             22085 non-null   float64
 60  ProsperPrincipalOutstanding          22085 non-null   float64
 61  ScorexChangeAtTimeOfListing          18928 non-null   float64
 62  LoanCurrentDaysDelinquent            113937 non-null  int64
 63  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 64  LoanMonthsSinceOrigination           113937 non-null  int64
 65  LoanNumber                           113937 non-null  int64
 66  LoanOriginalAmount                   113937 non-null  int64
 67  LoanOriginationDate                  113937 non-null  object
 68  MemberKey                            113937 non-null  object
 69  MonthlyLoanPayment                   113937 non-null  float64
 70  LP_CustomerPayments                  113937 non-null  float64
 71  LP_CustomerPrincipalPayments         113937 non-null  float64
 72  LP_InterestandFees                   113937 non-null  float64
 73  LP_ServiceFees                       113937 non-null  float64
 74  LP_CollectionFees                    113937 non-null  float64
 75  LP_GrossPrincipalLoss                113937 non-null  float64
 76  LP_NetPrincipalLoss                  113937 non-null  float64
 77  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 78  PercentFunded                        113937 non-null  float64
 79  Recommendations                      113937 non-null  int64
 80  InvestmentFromFriendsCount           113937 non-null  int64
 81  InvestmentFromFriendsAmount          113937 non-null  float64
 82  Investors                            113937 non-null  int64
dtypes: bool(3), datetime64[ns](4), float64(47), int64(9), object(20)
memory usage: 69.9+ MB

- Some values within the 'LowweIncomeRange' column have some values indicated as 'Not Displayed'
- Some values within the 'HigherIncomeRange' column have some values indicated as 'None'
- Some values with the 'ClosedDate' column are displayed as 'NaT'

In [27]:
loan_data_copy_4  = loan_data_copy.iloc[:,np.r_[0:20]]
loan_data_copy_5  = loan_data_copy.iloc[:,np.r_[20:40]]
loan_data_copy_6  = loan_data_copy.iloc[:,np.r_[40:60]]
loan_data_copy_7  = loan_data_copy.iloc[:,np.r_[60:80]]
loan_data_copy_8  = loan_data_copy.iloc[:,np.r_[80:83]]

- Some values within the 'LowweIncomeRange' column have some values indicated as 'Not Displayed'
- Some values within the 'HigherIncomeRange' column have some values indicated as 'None'
- Some values with the 'ClosedDate' column are displayed as 'NaT'
- Some values within 'ProsperRating (Alpha)' & 'ProsperScore' column are indicated as 'nan' instead of 'NaN'
- Some value within 'LowerIncomeRange' are 1 
- CreditScoreRangeLower & CreditScoreRangeUpper have some values indicated as 'nan'
- A value in FirstRecordedCreditLine column is indicated as 'Nat'
- Drop Income range and LoanOriginationQuarter columns

In [1]:
loan_data_copy.LowerIncomeRange.replace('Not Displayed', '', inplace=True) and loan_data_copy.LowerIncomeRange.replace(np.NaN, '', inplace=True)
loan_data_copy.HigherIncomeRange.replace('None', '', inplace=True) and loan_data_copy.HigherIncomeRange.replace(np.NaN, '', inplace=True)
loan_data_copy.ClosedDate.replace('NaT', '', inplace=True) and loan_data_copy.ClosedDate.replace(np.NaN, '', inplace=True)
loan_data_copy.CreditScoreRangeLower.replace('nan', '', inplace=True) and loan_data_copy.CreditScoreRangeLower.replace(np.NaN, '', inplace=True)
loan_data_copy.CreditScoreRangeUpper.replace('nan', '', inplace=True) and loan_data_copy.CreditScoreRangeUpper.replace(np.NaN, '', inplace=True)
loan_data_copy.FirstRecordedCreditLine.replace('NaT', '', inplace=True) and loan_data_copy.CreditScoreRangeUpper.replace(np.NaN, '', inplace=TrueFirstRecordedCreditLine
loan_data_copy["ProsperRating (Alpha)"].replace('nan', '', inplace=True) and loan_data_copy["ProsperRating (Alpha)"].replace(np.NaN, '', inplace=True)

SyntaxError: invalid syntax (1160275354.py, line 7)